.slider-image {
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}

.slider-image.active {
	opacity: 1;
	animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(0);
	}
}
